<nav class="navbar navbar-expand-lg  navbar-dark bg-secondary">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="/">BASARIYA ODAKLAN </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">



        <li class="nav-item">
          <a class="nav-link  btn btn-light text-dark" aria-current="page" href="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark text-white" href="kayitlar">Haber Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-info text-white" href="kayıtsırala">Haber SIRALA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-success text-white" href="uyesil">Üye Sil</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link btn btn-warning text-white" (click)="OturumuKapat()">ÇIKIŞ</a>
        </li>
       
        
      </ul>
    </div>
  </div>
</nav>
<div>
  <div class="row">
  
    <div class="col-md-9">
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-12">
            <h5>Kayıtlar</h5>
            <table class="table table-hover table-sm">
              <thead>
                <td>ID</td>
                <td>AD SOYAD</td>
                <td>E-MAİL</td>
                <td>ŞİFRE</td>
                <td>SİL</td>
              </thead>
              <tbody>
                <tr *ngFor="let Uye of uyeler">
                  <td>{{Uye.id}}</td>
                  <td>{{Uye.adsoyad}}</td>
                  <td>{{Uye.mail}}</td>
                  <td>{{Uye.parola}}</td>
                  <td><button class="btn btn-outline-danger" (click)="Sil(Uye)">Sil</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="btn btn-transparent ml-3 mt-2" *ngIf="secuyem.id!=0">
            <button style="width: 100%;" class="btn btn-outline-danger ml-3" (click)="Vazgec()">Vazgeç</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
